
<div class="navbar">
  <p>Current User: <%= current_user.username %> || <a href="/">Home (Feed)</a> || <a href="/users/<%= current_user.username %>">Your Profile</a> || <a href="/users">All Users</a> || <a href="/logout">Log Out</a></p>
</div>

