<form method="post" action="/users/<%= current_user.username %>/whisper">
  <div class="new_whisper">
    <label>New Whisper</label>
    <input type="text" name="whisper" placeholder="Creep them out">
    <input class="button" type="submit" value="Be creepy">
  </div>
</form>
