<div class="whisper">
  <p>Username: <%= whisper.user.username %></p>
  <p><%= whisper.content %></p>
  <p><%= whisper.created_at %></p>

  <form method="post" action="">
    <input type="hidden" name="_method" value="put">
    <button class="button" type="submit">Rewhisper</button>
  </form>
</div>
