<%= erb :_navbar %>

<h2><%= current_user.username %>, here is your PeepFeed</h2>

<div class="whisper_box">

  <% puts current_user.feed %>
  <% current_user.feed.each do |whisper| %>
    <%= erb :_whisper, locals: {whisper: whisper} %>
  <% end %>

</div>
