<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Gloria+Hallelujah' rel='stylesheet' type='text/css'>

<img src="http://img.gawkerassets.com/post/17/2012/10/evil_eyes_simple_2560x1440.png" alt="Creeper Eyes" style="width:50%;height:30%">
<h1>Peeper</h1>

<br>
<p class="sign_up">Sign Up:</p>
<div class="forms">
    <form action="/signup" method="post">
      <div class="signup">
        <label>Username</label>
        <input type="text" name="username" placeholder="Enter a Username">
        <br/>
        <label>Email</label>
        <input type="email" name="email" placeholder="Enter an email address">
        <br/>
        <label>Password</label>
        <input type="password" name="password" placeholder="Pick a Password">
        <br/>
        <input class="button" type="submit" value="Click to Sign Up!">
      </div>
    </form>
</div>

<p></p>

<p class="sign_up">Log In:</p>
<div class="forms">
    <form action="/login" method="post">
      <div class="login">
        <label>Username</label>
        <input type="text" name="username" placeholder="Enter your Username">
        <br/>
        <label>Password</label>
        <input type="password" name="password" placeholder="Enter your Password">
        <br/>
        <input class="button" type="submit" value="Click to Log In">
      </div>
    </form>
</div>
