<%= erb :_navbar, locals: {current_user: current_user} %>

<h1>Welcome to <%= @current_user.username %>'s profile!</h1>

<% @current_user.tweets.each do |tweet| %>
  <p><%= erb :tweet, locals: {tweet: tweet} %></p>
<% end %>
