<%= erb :_navbar, locals: {current_user: current_user} %>

<h1>Welcome to <%= @current_user.username %>'s profile!</h1>

<p><%= erb :_new_whisper %></p>

<% @current_user.whispers.each do |whisper| %>
  <p><%= erb :_whisper, locals: {whisper: whisper} %></p>
<% end %>


